
{% extends 'renter_partials/base.html' %}
{% block title %}رایا شارژ |درباره ما{% endblock %}
{% block content %}

      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fluid py-4">
            <div class="row">
               <div class="col-md-12">
                  <div class="full mt-3">
                    <h1>درباره رایا شارژ | سامانه مدیریت هوشمند ساختمان</h1>
                    
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
    <div class="about">
   <div class="container py-4">
      <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
{#                  <img src="/static/home/images/img/8.png" class="img-header" alt="">#}
               <figure><img src="/static/home/images/img/about.png" width="400" alt="مدیریت ساختمان رایا شارژ" ></figure>
            </div>
         </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
<h3>چرا رایا شارژ را انتخاب کنید؟</h3>

<p>
مدیریت ساختمان وقتی ساده و دقیق می‌شود که همه چیز در یک سیستم منظم و قابل اعتماد جمع شده باشد. رایا شارژ دقیقاً برای همین ساخته شده؛ تا مدیر ساختمان بتواند بدون درگیری با روش‌های پراکنده، همه امور را یکجا کنترل کند.
</p>

<p>
از محاسبه شارژ و پیگیری پرداخت‌ها گرفته تا ثبت هزینه‌ها، ارسال اطلاعیه‌ها و مدیریت درخواست‌های ساکنین، همه چیز به‌صورت یکپارچه و قابل پیگیری انجام می‌شود. این یعنی کاهش خطاهای انسانی، حذف کارهای تکراری و افزایش شفافیت در کل مجموعه.
</p>

<p>
آنچه رایا شارژ را متفاوت می‌کند، تمرکز آن روی تجربه واقعی مدیر و ساکنین است؛ جایی که سرعت، سادگی و دقت در کنار هم قرار می‌گیرند تا مدیریت ساختمان دیگر یک کار سخت و زمان‌بر نباشد.
</p>
                  <div class="py-4 text-center">
                        <a href="{% url 'charge_select' %}" class="btn-other-info">ثبت نام در رایا شارژ</a>
                            </div>
            </div>
         </div>
      </div>
   </div>
</div>
    
{#    <div class="whyschose">#}
{#         <div class="container">#}
{#            <div class="row">#}
{#               <div class="col-md-7 offset-md-3">#}
{#                  <div class="title">#}
{#                     <h2>Why <strong class="black">choose us</strong></h2>#}
{#                     <span>Fastest repair service with best price!</span>#}
{#                  </div>#}
{#               </div>#}
{#            </div>#}
{#         </div>#}
{#      </div>#}
    <div class="choose_bg">
         <div class="container">
             
        <div class="white_bg">
    <div class="heading_container heading_center py-4" dir="rtl">
        <h2>مزایای رایا شارژ</h2>
        <span>به انتخاب شما احترام می‌گذاریم و همواره در حال توسعه و بهبود رایا شارژ هستیم.</span>
    </div>

    <div class="row text-center">

        <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
                <i><img src="/static/home/images/img/icons8-user-friendly-100.png" alt="مدیریت ساختمان رایا شارژ"></i>
                <h3 class="py-3">کاربرپسند و ساده</h3>
                <p>
                    رایا شارژ با طراحی ساده و رابط کاربری روان، این امکان را فراهم می‌کند
                    که مدیران و ساکنین بدون نیاز به آموزش پیچیده، به راحتی از تمامی امکانات سامانه استفاده کنند.
                </p>
            </div>
        </dir>

        <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
                <i><img src="/static/home/images/img/icons8-budget-100.png" alt="مدیریت ساختمان رایا شارژ"></i>
                <h3 class="py-3">مدیریت هوشمند شارژ</h3>
                <p>
                    محاسبه و ثبت شارژ به‌صورت کاملاً هوشمند و بر اساس متراژ، نفرات، واحدها و هزینه‌های متنوع،
                    بدون نیاز به محاسبات دستی و با دقت بالا انجام می‌شود.
                </p>
            </div>
        </dir>

        <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
                <i><img src="/static/home/images/img/icons8-combo-chart-100.png" alt="مدیریت ساختمان رایا شارژ"></i>
                <h3 class="py-3">گزارش‌دهی مفید</h3>
                <p>
                    امکان مشاهده گزارش‌های دقیق مالی و مدیریتی شامل درآمدها، هزینه‌ها و وضعیت پرداخت‌ها
                    همراه با خروجی PDF و Excel برای تصمیم‌گیری بهتر فراهم است.
                </p>
            </div>
        </dir>

        <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="for_box">
                <i><img src="/static/home/images/img/icons8-benefit-100.png" alt="مدیریت ساختمان رایا شارژ"></i>
                <h3 class="py-3">مدیریت دقیق هزینه و درآمد</h3>
                <p>
                    تمامی هزینه‌ها و درآمدهای ساختمان به‌صورت منظم ثبت و دسته‌بندی می‌شوند
                    تا مدیر ساختمان دید کامل و شفافی نسبت به وضعیت مالی مجتمع داشته باشد.
                </p>
            </div>
        </dir>

    </div>
</div>
       </div>
      </div>
    
         <div class="service">
         <div class="container py-4">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                      <div class="heading_container heading_center py-4">
                           <h2 dir="rtl">با ما بمانید!</h2>
                       
                     <span> ابزارهای مورد نیاز برای مدیریت هوشمند ساختمان، مجتمع و شهرک‌های مسکونی در یک سامانه یکپارچه را از ما بخواهید</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/img/icons8-self-service-100.png" alt="مدیریت ساختمان رایا شارژ"></i>
                     <h3 class="py-3">خدمات متنوع</h3>
                    <p>خدمات و روش های متنوع جهت انجام امور مدیریتی ساختمان.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/img/icons8-card-security-96.png" alt="مدیریت ساختمان رایا شارژ"></i>
                     <h3 class="py-3">پرداخت ایمن</h3>
                     <p>پرداخت آنلاین و امن هزینه‌های مجتمع از طریق درگاه اختصاصی.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/img/icons8-team-96.png" alt="مدیریت ساختمان رایا شارژ"></i>
                     <h3 class="py-3">تیم حرفه ای</h3>
                     <p>پشتیبانی تخصصی کارشناسان رایا شارژ برای مدیران و ساکنین مجتمع.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/img/icons8-visual-effects-100.png" alt="مدیریت ساختمان رایا شارژ"></i>
                     <h3 class="py-3">دقیق و موثر</h3>
                    <p>گزارش‌های دقیق برای مدیریت بهتر امور ساختمان.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/img/icons8-refund-100.png" alt="مدیریت ساختمان رایا شارژ"></i>
                     <h3 class="py-3">ضمانت برگشت وجه</h3>
                     <p>برگشت وجه در صورت عدم رضایتمندی از خدمات ما</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/img/icons8-pass-100%20(1).png" alt="مدیریت ساختمان رایا شارژ"></i>
                     <h3 class="py-3">مطمئن و تایید شده</h3>
                    <p>سامانه‌ای مطمئن برای مدیریت ساختمان‌های مدرن.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

  
 
{% endblock %}
     