{% load poll_extras %}
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> مدیریت مجتمع رایا شارژ</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/static/css/core.css">
     <link rel="shortcut icon" href="{% static 'home/images/favicon1.png' %}">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/Bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/sweetalert2@11.js"></script>
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>


</head>
<body>

<div class="container-fluid">
    <div class="row text-center">
        <div class="col p-0">
            <div id="grad1"></div>
            <img src="{% static 'home/images/img/logo2.png' %}" class="logo-style" alt="">
        </div>
    </div>
</div>

<div class="container mt-1">

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">

            {% if messages %}
                <div class="mt-3 m-2">
                    {% for message in messages %}
                        {% if 'error' in message.tags %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="card shadow border-0 p-4">

              <form method="post" action="{% url 'register_house_by_user' %}" novalidate>
                    {% csrf_token %}

                    <div class="row">

                        <div class="col-12 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">نام و نام خانوادگی</label>
                                {{ user_form.full_name }}
                                {% if user_form.full_name.errors %}
                                    <small class="text-danger">{{ user_form.full_name.errors.0 }}</small>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">موبایل</label>
                                {{ user_form.mobile }}
                                {% if user_form.mobile.errors %}
                                    <small class="text-danger">{{ user_form.mobile.errors.0 }}</small>
                                {% endif %}
                            </div>
                        </div>
                             <div class="col-12 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">نام ساختمان</label>
                                {{ house_form.name }}
                                {% if house_form.name.errors %}
                                    <small class="text-danger">{{ house_form.name.errors.0 }}</small>
                                {% endif %}
                            </div>
                        </div>
                       <div class="col-12 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">نوع کاربری</label>
                                {{ house_form.user_type }}
                            </div>
                        </div>
                         <div class="col-12 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">شهر</label>
                                {{ house_form.city }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-label">
                                 <label class="form-label">
                                    آیا ساکن ساختمان هستید؟
                                </label>
                                {{ user_form.is_resident }}
                               
                            </div>
                        </div>
                          <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">آدرس</label>
                                {{ house_form.address }}
                            </div>
                        </div>
            <div class="col-12">
    <div class="mb-3">

        <label class="form-label fw-bold">
            <i class="fas fa-gem"></i>
            روش محاسبه شارژ
        </label>

        <div class="charge-grid card-body bg-light">
            {{ user_form.charge_methods }}
        </div>

        {% if user_form.charge_methods.errors %}
            <small class="text-danger">
                {{ user_form.charge_methods.errors.0 }}
            </small>
        {% endif %}

    </div>
</div>
                    </div>
          
              
               <div class="text-center">
    <button type="submit" class="btn-login px-4 border-0">
        <i class="fas fa-save me-1"></i>
        ثبت و ادامه
    </button>
</div>

                </form>

            </div>

        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">

            <hr class="my-3">

            <p class="small text-muted mb-4">
                <i class="fa fa-copyright px-1"></i>
                تمام حقوق مادی و معنوی این سامانه متعلق به
                <strong>رایا توسعه هوشمند داریا</strong>
                می‌باشد.
            </p>

        </div>
    </div>
</div>

</body>
</html>