{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
مدیریت ساختمان
{% endblock page_title %}

{% block main_content %}

<div class="container py-3">
<hr>
        <div class="row mb-2">
{#        <div class="col-12 col-md-2">#}
{#             	 <button type="button" class="btn btn-primary px-1 py-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong3">#}
{#                        <img src="/static/admin_panel/icone8/icons8-plus.gif" class="mx-2" width="20" alt="">#}
{#                    افزودن ساختمان#}
{#                </button>#}
{#        </div>#}
        <!-- بخش جستجو -->
        <div class="col-12 col-md-10 col-xl-10 align-self-center">
            <form method="get" action="" class="d-flex gap-2 align-items-center">
                <input type="text"
                       class="p-2 w-50"
                       name="q"
                       id="searchInput"
                       autocomplete="off"
                       value="{{ query }}"
                       placeholder="جستجوی ..."
                       dir="rtl"
                       oninput="if(this.value === '') this.form.submit();">
                <button type="submit" class="btn btn-info px-3 py-2">جستجو</button>
            </form>
        </div>

        <!-- بخش تعداد نمایش → فقط دسکتاپ -->
        <div class="col-12 col-md-2 col-xl-2 p-1 d-none d-md-block">
            <div class="d-flex align-items-center gap-1">
                <label for="cardsPerPage" class="form-label mb-0">تعداد نمایش:</label>
           <select id="cardsPerPage" 
        class="form-select select-fix"
        style="width: auto;"
        onchange="window.location.href='?q={{ query }}&paginate=' + this.value;">
    <option value="20" {% if request.GET.paginate|default:'20' == '20' %}selected{% endif %}>20</option>
    <option value="50" {% if request.GET.paginate == '50' %}selected{% endif %}>50</option>
    <option value="100" {% if request.GET.paginate == '100' %}selected{% endif %}>100</option>
    <option value="1000" {% if request.GET.paginate == '1000' %}selected{% endif %}>همه</option>
</select>

            </div>
        </div>
    </div>
               <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                         <th>نام ساختمان</th>
                                        <th>مدیر ساختمان</th>
                                         <th>موبایل </th>
                                        <th>مجوز </th>
                                        <th>درگاه پرداخت </th>
                                       
                                        <th>زیردامنه</th>
{#                                        <th> کاربری</th>#}
{#                                        <th>شهر</th>#}
                                        <th>اشتراک</th>
                                        <th>فعال/غیرفعال</th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                            {% if houses %}
                           {% for house in houses %}
                                    <tbody class="text-center">
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                           <td>{{house.name }}</td>
                                            <td>{{ house.user.full_name }}</td>
                                            <td>{{house.user.mobile }}</td>

                                            <td>
    {% for license in house.licenses.all %}
        <span class="badge bg-info">
            {{ license.get_license_type_display }}
        </span><br>
    {% empty %}
        <span class="text-danger">ثبت نشده</span>
    {% endfor %}
</td>
                                        <td>
    {% for gateway in house.gateways.all %}
        <span class="badge bg-success">
            {{ gateway.get_gateway_type_display }}
        </span><br>
    {% empty %}
        <span class="text-danger">ثبت نشده</span>
    {% endfor %}
</td>
                                            <td>{{house.subdomain }}</td>
{#                                            <td>{{house.user_type }}</td>#}
{#                                            <td>{{house.city }}</td>#}
       <td>
                                               {% if house.user.is_trial == True %}
                                                <button class="badge badge-success p-1">رایگان</button>
                                                   {% else %}
                                                   <button class="badge badge-danger p-1">{{ house.subscription_set.last.plan }}</button>

                                               {% endif %}
                                            </td>

                                              <td>
                                               {% if house.is_active == True %}
                                                <button class="badge badge-success p-1">فعال</button>
                                                   {% else %}
                                                   <button class="badge badge-danger p-1">غیر فعال</button>

                                               {% endif %}
                                            </td>

                                               <td>
                                                          <button data-bs-toggle="modal" data-bs-target="#exampleModalLong2{{ house.id }}" title="نمایش جزئیات"
                                                        class="btn btn-gradient-info text-dark p-1" ><i class="mdi mdi-eye"></i>
                                                </button>
                                                            <a href="{% url 'update_house' house.id %}"
                                           class="btn btn-gradient-info p-1">
                                    <i class="fas fa-pencil-alt"></i>
                                        
                                        </a>
                                
                                       <form method="post"
          action="{% url 'delete_house' house.id %}"
          style="display:inline;">

        {% csrf_token %}

        <button type="submit"
                class="btn btn-gradient-danger p-1"
                onclick="return confirm('آیا نسبت به غیر فعال کردن این ساختمان اطمینان دارید؟')">

            <i class="mdi mdi-delete" aria-hidden="true"></i>

        </button>
                 

    </form>
                         <a href="{% url 'add_house_license' house.id %}"
   class="btn btn-facebook text-white p-1">
    ثبت مجوز
</a>
            <a href="{% url 'add_house_gateway' house.id %}"
   class="btn btn-facebook text-white p-1">
    ثبت درگاه پرداخت
</a>

                                        </td>
                                        </tr>
      <div class="modal fade"  id="exampleModalLong2{{ house.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ house.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ house.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                           <div class="modal-body text-end">
                           <div class="row ">
                               <div class="col d-flex">
                                   <p><strong>نام ساختمان:</strong> {{ house.name|to_persian_number }}</p>

                                    <p class="me-5"><strong>نام مدیر:</strong> {{ house.user.full_name|to_persian_number }}</p>
                                   </div>
                           </div>
                    <div class="row ">
                               <div class="col d-flex">
                                  <p><strong>کاربری:</strong> {{ house.user_type|to_persian_number }}</p>
                                   <p class="me-5"><strong>شهر:</strong> {{ house.city|to_persian_number }}</p>
                                   <p class="me-5"><strong>اشتراک:</strong> {{ house.subscription_set.last.plan }}</p>
                                   </div>
                           </div>

  

    <p><strong>آدرس:</strong> {{ house.address }}</p>

    <hr>

    <h6 class="text-primary">مجوزها</h6>

    {% for license in house.licenses.all %}
        <div class="mb-2">
            <span class="badge bg-success">
                {{ license.get_license_type_display }}
            </span>

            {% if license.is_active %}
                <span class="badge bg-info">فعال</span>
            {% else %}
                <span class="badge bg-danger">غیرفعال</span>
            {% endif %}
        </div>
    {% empty %}
        <span class="text-danger">مجوزی ثبت نشده است</span>
    {% endfor %}

    <hr>

    <h6 class="text-primary">درگاه‌های پرداخت</h6>

    {% for gateway in house.gateways.all %}
        <div class="mb-2">
            <span class="badge bg-warning text-dark">
                {{ gateway.get_gateway_type_display }}
            </span>

            {% if gateway.is_active %}
                <span class="badge bg-success">فعال</span>
            {% else %}
                <span class="badge bg-danger">غیرفعال</span>
            {% endif %}

            {% if gateway.is_sandbox %}
                <span class="badge bg-secondary">تست</span>
            {% endif %}
        </div>
    {% empty %}
        <span class="text-danger">درگاهی ثبت نشده است</span>
    {% endfor %}

    <hr>

    <strong>روش محاسبه شارژ:</strong>

    {% for method in house.user.charge_methods.all %}
        <ul class="mt-2">
            <li>
                <i class="fas fa-cog"></i>
                {{ method.name }}
            </li>
        </ul>
    {% empty %}
        <span class="text-danger">تعریف نشده</span>
    {% endfor %}

</div>
                            <hr/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>

                                    {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="11" class="text-center">هیچ رکوردی برای نمایش وجود ندارد.</td>
                                        </tr>
                                 <tbody>
                                {% endif %}
                            </table>
               </div>


</div>
       <!-- Pagination -->
    <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-2">
            {% if page_obj.has_previous %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_obj.previous_page_number }}" class="rounded mx-1">قبلی</a>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_number }}"
                   class="rounded mx-1 {% if page_number == page_obj.number %}active{% endif %}">
                    {{ page_number }}
                </a>
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_obj.next_page_number }}" class="rounded mx-1">بعدی</a>
            {% endif %}
        </div>
    </div>

{#<div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle3" aria-hidden="true">#}
{#  <div class="modal-dialog" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header" id="exampleModalLongTitle3">#}
{#        <h5 class="modal-title">افزودن ساختمان جدید</h5>#}
{#      </div>#}
{#         <hr>#}
{#      <div class="modal-body" >#}
{#         {{ form.non_field_errors }}#}
{#          <form id="houseForm" action="" method="POST"#}
{#                enctype="multipart/form-data" novalidate>#}
{#              {% csrf_token %}#}
{#              <div class="row g-2">#}
{#                  <p class="text-danger">مهم : نام لاتین باید برگرفته از نام ساختمان و تک سیلابی باشد</p>#}
{#                       <div class="col-12">#}
{#                      {{ form.user.label_tag }}#}
{#                      {{ form.user }}#}
{#                      {{ form.user.errors }}#}
{#                  </div>#}
{#                  <div class="col-6">#}
{#                      {{ form.name.label_tag }}#}
{#                      {{ form.name }}#}
{#                      {{ form.name.errors }}#}
{#                  </div>#}
{#                    <div class="col-6">#}
{#                      {{ form.subdomain.label_tag }}#}
{#                      {{ form.subdomain }}#}
{#                      {{ form.subdomain.errors }}#}
{#                  </div>#}
{#              </div>#}
{#              <div class="row g-2">#}
{#                  <div class="col-6 ">#}
{#                      {{ form.phone.label_tag }}#}
{#                      {{ form.phone }}#}
{#                      {{ form.phone.errors }}#}
{#                  </div>#}
{#                      <div class="col-6 ">#}
{#                       {{ form.boss_mobile.label_tag }}#}
{#                      {{ form.boss_mobile }}#}
{#                      {{ form.boss_mobile.errors }}#}
{#                  </div>#}
{#                     </div>#}
{#               <div class="row g-2">#}
{#                  <div class="col-6 ">#}
{#                      {{ form.floor_counts.label_tag }}#}
{#                      {{ form.floor_counts }}#}
{#                      {{ form.floor_counts.errors }}#}
{#                  </div>#}
{#                      <div class="col-6 ">#}
{#                       {{ form.unit_counts.label_tag }}#}
{#                      {{ form.unit_counts }}#}
{#                      {{ form.unit_counts.errors }}#}
{#                  </div>#}
{#                     </div>#}
{#                 <div class="row g-2">#}
{#                  <div class="col-6 ">#}
{#                      {{ form.user_type.label_tag }}#}
{#                      {{ form.user_type }}#}
{#                      {{ form.user_type.errors }}#}
{#                  </div>#}
{#                      <div class="col-6 ">#}
{#                       {{ form.city.label_tag }}#}
{#                      {{ form.city }}#}
{#                      {{ form.city.errors }}#}
{#                  </div>#}
{#                     </div>#}
{#                  <div class="row g-2">#}
{#                      <div class="col-12 ">#}
{#                       {{ form.address.label_tag }}#}
{#                      {{ form.address }}#}
{#                      {{ form.address.errors }}#}
{#                  </div>#}
{#                     </div>#}
{#                  <div class="row">#}
{#                  <div class="col-4 col-lg-8 col-xl-8">#}
{#                      {{ form.is_active.label_tag }}#}
{#                      {{ form.is_active }}#}
{#                      {{ form.is_active.errors }}#}
{#                     </div>#}
{#                 </div>#}
{#                 #}
{#              #}
{#              #}
{#                   <hr class="mt-2" style="color: #0f1531">#}
{#                    <div class="d-flex justify-content-between">#}
{#                        <button type="submit" name="submit_bank" id="account_holder_name" class="btn btn-gradient-success px-4 py-2">#}
{#                              ثبت / ذخیره اطلاعات ساختمان</button>#}
{#                           <button type="button" class="btn btn-dark p-3" data-bs-dismiss="modal">بستن</button>#}
{#                     </div>#}
{#          </form>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</div>#}

    
{% endblock %}


