{% extends 'middleShared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
  اعلام شارژ ({{ charge.name|to_persian_number }}  )
{% endblock page_title %}

{% block main_content %}
<div class="container-fluid mt-4 p-0">
      <div class="row mb-4 ">
              <div class="col-9 col-md-10 col-xl-10 align-self-center ">
                  <form method="get" action="" class="row g-1">

    <div class="col-md-4">
        <input type="text"
               class="form-control"
               name="search"
               value="{{ request.GET.search }}"
               placeholder="جستجوی واحد...">
    </div>

    <div class="col-md-3">
        <select name="resident_type"
                class="form-select form-control-sm"
                onchange="this.form.submit()">

            <option class="text-facebook" value="">همه ساکنین</option>

            <option value="owner"
                {% if request.GET.resident_type == 'owner' %}
                    selected
                {% endif %}
            >
                فقط مالک
            </option>

            <option value="renter" class="text-warning"
                {% if request.GET.resident_type == 'renter' %}
                    selected
                {% endif %}
            >
                فقط مستاجر
            </option>

            <option value="empty" class="text-danger"
                {% if request.GET.resident_type == 'empty' %}
                    selected
                {% endif %}
            >
                واحد خالی
            </option>

        </select>
    </div>

    <div class="col-md-2">
        <button type="submit"
                class="btn btn-gradient-info">
            فیلتر واحدها
        </button>
    </div>

</form>
          </div>
             <div class="col-3 col-md-2 col-xl-2 text-start ">
                  <label for="cardsPerPage" class="form-label d-none d-md-inline">تعداد نمایش :</label>
                 <select id="cardsPerPage" class="form-select" style="width: auto;height: auto; display: inline-block;">
                  <option value="20" selected>20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="1000">همه</option>
                </select>
                </div>
        
        </div>
    
     

<form method="post" id="notifyForm" action="">
        {% csrf_token %}
              <input type="hidden" name="send_type" id="sendTypeInput" value="notify">

      <div class="row g-2 mt-3">
            <div class="col-12 col-md-3 col-xl-3 form-check align-self-center p-1">
              <button type="button" id="toggle-select-btn" class="btn btn-gradient-info shadow_style px-3">
                انتخاب همه واحدها
            </button>
                    <button type="submit" onclick="return confirmWithSweetAlert(event)" 
                        class="btn btn-gradient-success px-3 shadow_style">ارسال اطلاعیه شارژ</button>
            </div>
             <div class="col-4 col-md-2 col-xl-2 text-md-start mt-4 p-0" style="font-size: 12px;">
                    <span class="circleSendNotify"></span>
                  ارسال موفق اطلاعیه  
                </div>
            <div class="col-4 col-md-2 col-xl-2 text-md-center align-items-center pt-4" style="font-size: 12px;">
                <i class="fa fa-envelope text-info"></i>
                 ارسال موفق پیامک  
                </div>
             <div class="col-4 col-md-2 col-xl-2 text-md-end mt-4" style="font-size: 12px;">
                    <span class="circlePayment"></span>
                  پرداخت موفق 
                </div>
         
            <div class="col-12 col-md-3 col-xl-3 text-md-start align-self-center p-1">
                  <button 
                    id="remove-all-btn" class="btn btn-dark px-3 shadow_style"
                    data-url="{% url 'middle_remove_send_notification_person_area' pk=charge.id %}">
                    حذف اطلاعیه شارژ
                </button>
            
                <a href="{% url 'middle_add_person_area_charge' %}" class="btn btn-danger px-3 shadow_style"> بازگشت به لیست</a>
             </div>
        </div>
    
  
    <hr class="mt-3"/>
  
<div class="row g-2 py-3">
                   {% for item in page_obj %}
                {% with unit=item.unit renter=item.renter %}
                <div class="col-6 col-lg-2 col-md-2 col-xl-2">
                <div class="card fixChargeTable p-0"

                style="
                border:0.1rem solid

                {% if renter %}
                    orange

                {% elif unit.status_residence == 'empty' %}
                    red

                {% else %}
                      #00000090

                {% endif %} !important;

                {% if item.is_notified %}
                    {% if item.is_paid %}
                        background-color:#8fef88;
                    {% else %}
                        background-color:#fff3cd;
                    {% endif %}
                {% endif %}
                "
                >
        <div class="card-body text-center  d-flex justify-content-center align-items-center px-2 py-1 mt-2">
             <p class="card-charge-title shadow_style"
                data-bs-toggle="popover"
                data-bs-html="true"
                data-bs-trigger="hover"
                data-bs-placement="top"
                data-bs-content="
                {% if unit.is_renter %}
                    {% if renter %}مستاجر: {{ renter.renter_name }}{% else %}بدون مستاجر{% endif %}
                {% else %}
                    مالک: {{ unit.owner_name }}
                {% endif %}
                <br>
                {#                مبلغ شارژ: {{ item.total_charge|three_digit_currency }} تومان#}
                شارژ این ماه: {{ item.current_charge|three_digit_currency }} تومان
                {% if item.previous_debt > 0 %}
                <br>
                <span style='color:#dc3545;'>بدهی معوقه: {{ item.previous_debt|three_digit_currency }} تومان</span>
                   {% else %}
                <br>
                  <span style='color:#dc3545;'>بدهی معوقه: --  </span>
                {% endif %}
                <br>
                <b>جمع کل : {{ item.total_payable|three_digit_currency }}  </b>تومان  
                ">
                <input class="form-check-input unit-checkbox mx-2"
                       type="checkbox"
                       name="units"
                       value="{{ unit.id }}"
                       data-url="{% url 'toggle_unit_selection' charge.id %}"
                          {% if unit.id in selected_units %}checked{% endif %}
                >
                واحد شماره {{ unit.unit|to_persian_number }}
            </p>
                {% if item.send_sms %}
        	       <p class="me-2"><i class="fa fa-envelope text-info"></i></p>
        {% endif %} 
        </div>
     
    </div>
 
</div>
{% endwith %}
{% endfor %}

</div>

      
  
    </form>
</div>
     <div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="rounded">قبلی</a>
        {% endif %}

        {% for pageNumber in page_obj.paginator.page_range %}
            <a href="?page={{ pageNumber }}" class="{% if page_obj.number == pageNumber %}active{% endif %}">{{ pageNumber }}</a>
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="rounded">بعدی</a>
        {% endif %}

    </div>
</div>


{% endblock %}
