{% extends 'middleShared/base_template.html' %}
{% load static %}
{% load poll_extras %}


{% block page_title %}
محاسبه شارژ بر اساس شارژ ثابت و متغیر
{% endblock page_title %}

{% block main_content %}
    <hr>
<div class="container mt-3">
<div class="row mb-2 g-2 ">
       <div class="col-9 col-md-2 col-xl-2 align-self-center ">
              <button type="button" class="btn btn-primary px-1 py-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                      <img src="/static/admin_panel/icone8/icons8-plus.gif" class="mx-2" width="20" alt="">
                    افزودن شارژ جدید 
                </button>
       </div>
       <div class="col-12 col-md-8 col-xl-8">
              <input type="text" id="searchInput" placeholder="جستجوی سریع در جدول..." onkeyup="searchTableIncome()" class="form-control p-2">
          </div>
               <!-- بخش تعداد نمایش → فقط دسکتاپ -->
        <div class="col-12 col-md-2 col-xl-2 p-0 d-none d-md-block">
            <div class="d-flex align-items-center justify-content-end">
                <label for="cardsPerPage" class="form-label mb-0">تعداد نمایش:</label>
           <select id="cardsPerPage" 
        class="form-select select-fix"
        style="width: auto;"
        onchange="window.location.href='?q={{ query }}&paginate=' + this.value;">
    <option value="20" {% if request.GET.paginate|default:'20' == '20' %}selected{% endif %}>20</option>
    <option value="50" {% if request.GET.paginate == '50' %}selected{% endif %}>50</option>
    <option value="100" {% if request.GET.paginate == '100' %}selected{% endif %}>100</option>
    <option value="1000" {% if request.GET.paginate == '1000' %}selected{% endif %}>همه</option>
</select>

            </div>
        </div>
        
        </div>
{#     <p class="text-danger text-sm-end">توجه: کلیه مبالغ ثبت شده به تومان میباشد.</p>#}

               <div class="table-responsive">
                  <table class="table table-bordered" id="incomeTable">
                                <thead class="text-center">
                                        <tr>
                                        <th>#</th>
                                        <th> عنوان شارژ </th>
{#                                        <th> تعداد واحدها </th>#}
                                       <th class="p-0"> شارژ ثابت هر واحد</th>
                                        <th class="p-0"> شارژ متغیر هر متر</th>
                                        <th class="p-0"> شارژ متغیر هر نفر</th>
                                            <th>توضیحات</th>
                                        <th class="p-0">تاریخ ثبت</th>
                                        <th>جریمه دیرکرد</th>
                                          <th> اعلام شارژ </th>
                                        <th>مهلت پرداخت </th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                            {% if charges %}
                           {% for charge in charges %}
                                    <tbody class="text-center">
                                        <tr>
                                            <td>{{ forloop.counter|to_persian_number }}</td>
                                            <td>{{charge.name|to_persian_number }}</td>
{#                                            <td>{{charge.unit_count }}</td>#}
                                            <td>{{charge.unit_fix_amount|three_digit_currency }}</td>
                                            <td>{{charge.unit_variable_area_amount|three_digit_currency }}</td>
                                            <td>{{charge.unit_variable_person_amount|three_digit_currency }}</td>
                                       <td>
                                                 {% if charge.details %}
                                                 	 دارد
                                                   {% else %}
                                              ندارد
                                            {% endif %} 
                                            
                                          </td>
                                         <td>{{charge.created_at|show_jalali }}</td>
                                       <td>
                                                   {% if charge.payment_penalty_amount %}
                                                      % {{charge.payment_penalty_amount|to_persian_number }}
                                                {% else %}
                                                ثبت نشده است
                                            {% endif %} 
                                          </td>
                                             <td class="bg-light">
                                                <span>{{ charge.notified_count|to_persian_number }} از {{ unit_count|to_persian_number }} واحد</span>
                                                </td>
                                                         <td>
                                                 {% if charge.payment_deadline %}
                                                 	  {{charge.payment_deadline|show_jalali }}
                                                   {% else %}
                                                ثبت نشده است
                                            {% endif %}
                                             </td>
                                               <td class="p-0">
                                                  <button data-bs-toggle="modal" data-bs-target="#exampleModalLong2{{ charge.id }}"
                                                        class="btn btn-gradient-info text-dark px-2 py-1"><i class="mdi mdi-eye"></i>
                                                </button>
                                                                   <a
                                           class="btn btn-gradient-info p-1 edit-variable-fix-btn"
                                           data-id="{{ charge.id }}"
                                           data-name="{{ charge.name }}"
                                           data-unit_fix_amount="{{ charge.unit_fix_amount }}"
                                           data-extra_parking_amount="{{ charge.extra_parking_amount }}"
                                           data-unit_variable_person_amount="{{ charge.unit_variable_person_amount }}"
                                           data-unit_variable_area_amount="{{ charge.unit_variable_area_amount }}"
                                           data-other_cost_amount="{{ charge.other_cost_amount }}"
                                           data-payment_penalty_amount="{{ charge.payment_penalty_amount }}"
                                           data-payment_deadline="{{ charge.payment_deadline|show_jalali }}"
                                           data-civil="{{ charge.civil }}"
                                           data-details="{{ charge.details }}"
                                           data-bs-toggle="modal"
                                           data-bs-target="#exampleModalLong">
                                           <i class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                                        </a>
                             
                                            <a href="{% url 'middle_charge_variable_fix_delete' charge.id %}" class="btn btn-gradient-danger p-1"
                                       onclick="return confirmDeleteWithSweetAlert(event)">
                                              <i class="mdi mdi-delete" aria-hidden="true"></i>
                                            </a>
                                         <a href="{% url 'middle_add_show_notification_fix_variable_charge_form' charge.id %}"
                                         class="btn btn-gradient-success px-3 py-1" 
                                          data-bs-toggle="tooltip"  title="اعلان شارژ">
                                         <i class="fas fa-bullhorn fa-flip-horizontal"></i>
                                            </a>

                                        </td>
                      <div class="modal fade"  id="exampleModalLong2{{ charge.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ charge.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ charge.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                            <div class="modal-body text-end">
                                <p><strong>عنوان:</strong> {{ charge.name|to_persian_number }}</p>
                                 <p><strong>مبلغ شارژ ثابت هر واحد:</strong> {{ charge.unit_fix_amount|three_digit_currency }} تومان</p>
                                 <p><strong>مبلغ شارژ متغیر هر ازای هر نفر:</strong> {{ charge.unit_variable_person_amount|three_digit_currency }} تومان</p>
                                 <p><strong>مبلغ شارژ متغیر هر ازای هر متر:</strong> {{ charge.unit_variable_area_amount|three_digit_currency }} تومان</p>
                                 <p><strong>کل نفرات ساختمان:</strong> {{ charge.total_people|to_persian_number }} نفر </p>
                                 <p><strong>کل متراژ ساختمان:</strong> {{ charge.total_area|to_persian_number }} متر </p>
{#                                <p><strong>شارژ عمرانی:</strong> {{ charge.civil|three_digit_currency }} تومان</p>#}
                                <p><strong>سایر هزینه ها:</strong> {{ charge.other_cost_amount|three_digit_currency }} تومان</p>
                                <p><strong>هزینه پارکینگ اضافه:</strong> {{ charge.extra_parking_amount|three_digit_currency }} تومان</p>
                                <p><strong>تاریخ ثبت :</strong> {{ charge.created_at|show_jalali_date_only }} </p>
                               <p><strong>مهلت پرداخت :</strong>
                                          {% if charge.payment_deadline %}
                                                 	  {{charge.payment_deadline|show_jalali_date_only }}
                                                   {% else %}
                                                ثبت نشده است
                                            {% endif %} 
                               </p>
                                <p><strong>جریمه دیرکرد:</strong>
                                             {% if charge.payment_penalty_amount %}
                                                      % {{charge.payment_penalty_amount|to_persian_number }}
                                                {% else %}
                                                ثبت نشده است
                                            {% endif %} 
                                </p>
                                <p><strong>توضیحات:</strong> 
                                    {% if charge.details %}
                                        <span class="bg-warning text-wrap">{{ charge.details|to_persian_number }} </span>
                                        {% else %}
                                        توضیحات ثبت نشده است
                                    {% endif %} 
                                    
                                </p>
                                    
                            </div>
                            <hr/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>

                                        </tr>
                                    {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="12" class="text-center">هیچ رکوردی برای نمایش وجود ندارد.</td>
                                        </tr>
                                 <tbody>
                                {% endif %}

                            </table>
                 <div class="col-12">
                    <div class="pagination d-flex justify-content-center mt-5">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="rounded mx-1">قبلی</a>
                        {% endif %}
                
                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number == page_obj.number %}
                                <a href="?page={{ page_number }}" class="{% if page_obj.number == page_number %}active{% endif %}">{{ page_number }}</a>
                            {% else %}
                                <a href="?page={{ page_number }}" class="rounded mx-1">{{ page_number }}</a>
                            {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="rounded mx-1">بعدی</a>
                        {% endif %}
                    </div>
                </div>
               </div>

    <hr>

</div>
    
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="exampleModalLongTitle">
        <h5 class="modal-title">محاسبه شارژ بر اساس شارژ ثابت و متغیر</h5>
      </div>
         <hr>
      <div class="modal-body" >
         {{ form.non_field_errors }}
          <form id="variableFixForm" action="" method="POST"
                enctype="multipart/form-data" novalidate>
              {% csrf_token %}
                     <div class="row g-2 justify-content-start">
                                      <div class="col-6">
                                          {{ form.name.label_tag }}
                                          {{ form.name }}
                                          {{ form.name.errors }}
                                      </div>

                                          <div class="col-6">
                                          {{ form.unit_fix_amount.label_tag }}
                                          {{ form.unit_fix_amount }}
                                          {{ form.unit_fix_amount.errors }}
                                      </div>
                                       <div class="col-6">
                                          {{ form.unit_variable_person_amount.label_tag }}
                                          {{ form.unit_variable_person_amount }}
                                          {{ form.unit_variable_person_amount.errors }}
                                      </div>
                                        <div class="col-6">
                                          {{ form.unit_variable_area_amount.label_tag }}
                                          {{ form.unit_variable_area_amount }}
                                          {{ form.unit_variable_area_amount.errors }}
                                      </div>
                                      <div class="col-6">
                                          {{ form.extra_parking_amount.label_tag }}
                                          {{ form.extra_parking_amount }}
                                          {{ form.extra_parking_amount.errors }}
                                      </div>
                                     <div class="col-6">
                                          {{ form.civil.label_tag }}
                                          {{ form.civil }}
                                          {{ form.civil.errors }}
                                           </div>
                                    </div>
                                     <div class="row g-2">
                                          <div class="col-6">
                                          {{ form.other_cost_amount.label_tag }}
                                          {{ form.other_cost_amount }}
                                          {{ form.other_cost_amount.errors }}
                                      </div>
                                     </div>
                                               <div class="row g-2">
                                              <div class="col-6">
                                               {{ form.payment_deadline.label_tag }}
                                              {{ form.payment_deadline }}
                                              {{ form.payment_deadline.errors }}
                                          </div>
                                             <div class="col-6">
                                               {{ form.payment_penalty_amount.label_tag }}
                                              {{ form.payment_penalty_amount }}
                                              {{ form.payment_penalty_amount.errors }}
                                          </div>
                                             </div>
                                      <div class="form-group col-12">
                                        {{ form.details.label_tag }}
                                        {{ form.details }}
                                        {{ form.details.errors }}
                                      </div>
                                 
              
                   <hr class="mt-2" style="color: #0f1531">
                    <div class="d-flex justify-content-between">
                        <button type="submit" name="submit_receive" id="btn-submit-receive" class="btn btn-gradient-success px-4 py-2">ثبت شارژ</button>
                           <button type="button" class="btn btn-dark p-3" data-bs-dismiss="modal">بستن</button>
                     </div>
        

          </form>
      </div>

    </div>
  </div>
</div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if request.GET.error == 'paid' %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      Swal.fire({
        icon: 'error',
        text: 'امکان ویرایش وجود ندارد زیرا حداقل یک واحد شارژ خود را پرداخت کرده است. لطفا اصلاحیه شارژ ثبت کنید!',
        confirmButtonText: 'باشه'
      });
    });
  </script>
{% elif request.GET.error == 'notify' %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      Swal.fire({
        icon: 'error',
        text: 'امکان ویرایش وجود ندارد، باید ابتدا اطلاعیه های ارسال را حذف کنید سپس ویرایش و مجددا ارسال نمایید!',
        confirmButtonText: 'باشه'
      });
    });
  </script>
{% endif %}
{% endblock %}


