{% load poll_extras %}
<!-- footer start -->
<footer>
  <div class="container py-1">
    <div class="row align-items-center">

      <!-- ستون اول: در موبایل دوم، در دسکتاپ اول -->
      <div class="col-md-7 col-12 order-2 order-md-1">
        <div class="row align-items-center gy-4">

          <!-- لوگوهای نماد -->
          <div class="col-12 col-sm-6 text-center text-sm-start">
            <a href="#"><img width="80" src="/static/img/Enamad.png" alt="#" class="mb-0" /></a>
            <a href="#"><img width="150" src="/static/img/BehPardakht-faraboom.png" alt="#" class="mb-0" /></a>

            <p><strong>Email:</strong> yourmain@gmail.com</p>
              <p id="phone"><strong>تلفن:</strong> {{ "0996636395"|to_persian_number }}</p>
          </div>

          <!-- دسترسی سریع -->
          <div class="col-12 col-sm-6 text-center">
            <div class="widget_menu">
              <h3>دسترسی سریع</h3>
              <ul class="list-unstyled">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'about_us' %}">درباره ما</a></li>
                <li><a href="{% url 'articles' %}">مقالات</a></li>
                <li><a href="{% url 'contact_us' %}">تماس با ما</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- ستون دوم: در موبایل اول، در دسکتاپ دوم -->
      <div class="col-md-5 col-12 text-center align-items-center mt-3 order-1 order-md-2">
        <div class="logo_footer align-items-center">
          <a href="#"><img width="210" src="/static/home/images/img/logo2.png" alt="#" /></a>
        </div>

        <div class="information_f px-3" dir="rtl">
          <p>
رایا شارژ با هدف تسهیل مدیریت مجتمع‌های مسکونی و تجاری طراحی شده است. ما همواره می‌کوشیم با شناسایی چالش‌ها و بهره‌گیری از بازخوردهای شما کاربران گرامی، گامی موثر در جهت بهینه‌سازی این سامانه برداریم.          
        </div>
      </div>

    </div>
  </div>
</footer>


  <!-- footer end -->
  <div class="cpy_">
     <p class="mx-auto">© 2026 All Rights Reserved By RayaCharge<br>
     
{#        طراحی و توسعه توسط رایا توسعه هوشمند داریا</a>#}
     
     </p>
  </div>