{% extends 'partials/core_template.html' %}
{% load poll_extras %}

{#{% block page_title %}#}
{#مدیریت شارژ واحد {{ unit.unit }}#}
{#{% endblock page_title %}#}

{% block main_content %}
     <div class="container py-2 mt-2"   dir="rtl">
     <div class="row text-center">
         <div class="col-12">
             <img src="/static/img/pay-charge.png" width="230" alt="">
         </div>
     </div>

     <div class="row d-flex justify-content-center">
         <div class="col-8 text-center">
   <p>تلفن: <strong>0996636395</strong></p>
        <p>ایمیل: <strong>rayathd@rayacharge.ir</strong></p>

    {% if info %}
    	<div class="alert alert-info">
            {{ info }}
        </div>
    {% endif %}

  {% if success %}
    	<div class="alert alert-success">
            {{ success }}
        </div>
    {% endif %}

  {% if error %}
    	<div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
         </div>
     <div class="col-12 text-center mt-4">
           <a class="btn btn-gradient-danger w-25" href="{% url 'user_sewage_list' %}"> برگشت به لیست هزینه های فاضلاب </a>
     </div>
     </div>
    </div>


{% endblock main_content %}