{% extends 'middleShared/base_template.html' %}
{% load poll_extras %}
{% load static %}

{% block page_title %}دریافت درآمد {% endblock %}

{% block main_content %}
    <hr>
<div class="container py-4">

    <h4>دریافت درآمد سند {{ income.financial_document_number|to_persian_number }}</h4>
    <p>شرح: {{ income.description|to_persian_number }}</p>
    <p>مبلغ: {{ income.amount|three_digit_currency }}تومان</p>

    <form method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-4">
        {{ form.bank.label_tag }}
        {{ form.bank }}
        {{ form.bank.errors }}
            </div>
            
      <div class="col-12 col-md-4">
        {{ form.payment_date.label_tag }}
        {{ form.payment_date }}
        {{ form.payment_date.errors }}
    </div>

    <div class="col-12 col-md-4">
        {{ form.transaction_reference.label_tag }}
        {{ form.transaction_reference }}
        {{ form.transaction_reference.errors }}
    </div>
              <div class="col-12 col-md-4">
        {{ form.unit.label_tag }}
        {{ form.unit }}
        {{ form.unit.errors }}
    </div>
              <div class="col-12 col-md-4">
        {{ form.payer_name.label_tag }}
        {{ form.payer_name }}
        {{ form.payer_name.errors }}
    </div>
  
       
        </div>
        

        <div class="text-start">
        <button type="submit" class="btn btn-gradient-success">تأیید دریافت</button>
        <a href="{% url 'middle_register_income' %}" class="btn btn-gradient-danger">انصراف</a>
            </div>
    </form>

</div>
{% endblock %}
