{% extends 'middleShared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
مدیریت اطلاعیه ها
{% endblock page_title %}

{% block main_content %}
<div class="container mt-3">

    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                {{ form.title.label_tag }}
                {{ form.title }}
                {{ form.title.errors }}
            </div>
{#            <div class="col-4">#}
{#                {{ form.slug.label_tag }}#}
{#                {{ form.slug }}#}
{#                {{ form.slug.errors }}#}
{#            </div>#}
            <div class="col-4 py-2">
                {{ form.is_active.label_tag }}
                {{ form.is_active }}
                {{ form.is_active.errors }}
            </div>
            <div class="col-4 py-2">
                {{ form.show_in_marquee.label_tag }}
                {{ form.show_in_marquee }}
                {{ form.show_in_marquee.errors }}
            </div>

                  {% if form.instance.id %}
        	<div class=" col-4 pt-4 text-start">
                 <button type="submit" class="btn btn-gradient-success">ذخیره اطلاعیه</button>
              </div>
             {% else %}
             <div class="col-4 pt-4 text-start">
                 <button type="submit" class="btn btn-gradient-success">ثبت اطلاعیه</button>
              </div>
        {% endif %}

        </div>


    </form>

{#    <div class="container p-3">#}
{#        <div class="row mt-2">#}
{#            <div class="table-responsive">#}
{#                <table class="table table-bordered">#}
{#                    <thead class="text-center">#}
{#                        <tr>#}
{#                            <th>#</th>#}
{#                            <th>ایجاد کننده</th>#}
{#                            <th>موضوع اطلاعیه</th>#}
{#                            <th>تاریخ ایجاد</th>#}
{#                            <th>فعال/غیرفعال</th>#}
{#                            <th>دستورات</th>#}
{#                        </tr>#}
{#                    </thead>#}
{#                    {% if announcements %}#}
{#                        {% for announcement in announcements %}#}
{#                        <tbody class="text-center">#}
{#                            <tr>#}
{#                                <td>{{ forloop.counter }}</td>#}
{#                                <td>{{user.full_name }}</td>#}
{#                                <td>{{ announcement.title|safe }}</td>#}
{##}
{#                                <td>{{ announcement.created_at|show_jalali}}</td>#}
{#                                  <td>#}
{#                                   {% if announcement.is_active == True %}#}
{#                                    <button class="btn btn-primary bg-success p-2">فعال</button>#}
{#                                       {% else %}#}
{#                                       <button class="btn btn-danger p-2">غیر فعال</button>#}
{#                                   {% endif %}#}
{#                                </td>#}
{##}
{#                               <td class="col-lg-1 col-xl-1">#}
{#                                   <a href="{% url 'edit_middle_announcement' announcement.id %}" class="btn btn-primary p-1">#}
{#                              <i class="mdi mdi-lead-pencil" aria-hidden="true"></i></a>#}
{#                                  <a href="{% url 'delete_middle_announcement' announcement.pk %}"#}
{#                                     class="btn btn-danger p-1" onclick="return confirm('آیا نسبت به حذف این آیتم اطمینان دارید؟')">#}
{#                                      <i class="mdi mdi-delete" aria-hidden="true"></i></a>#}
{##}
{#                            </td>#}
{##}
{#                            </tr>#}
{#                        </tbody>#}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#                        <tbody>#}
{#                            <tr>#}
{#                                <td colspan="7" class="text-center">هیچ پیامی برای نمایش وجود ندارد.</td>#}
{#                            </tr>#}
{#                        </tbody>#}
{#                    {% endif %}#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>
{% endblock %}








