@font-face {
    font-family: VazirB2;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}


@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/Vazir-Thin.woff') format('woff'),
    url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: VazirB1;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Light.woff2') format('woff2'),
    url('../fonts/Vazir-Light.woff') format('woff'),
    url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: VazirB3;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: VazirB4;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Black.woff2') format('woff2'),
    url('../fonts/Vazir-Black.woff') format('woff'),
    url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: VazirBold;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vazir', sans-serif;
}
* {
  font-family: 'Vazir', sans-serif;
  box-sizing: border-box;
}


body {
  font-family: 'Vazir', sans-serif !important;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 40px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}


.heading_container {
    /*float: right;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 900;
    font-family: VazirBold, sans-serif;
    color: #4A148C;

}

.heading_container h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #00ACC1;
    margin: 10px auto 10px;
}

.heading_container h2 span {
  color: #00ACC1;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.header_section {
    padding: 15px 0;
}
/* تنظیمات ثابت شدن هدر */
@media (min-width: 992px) {
    .header_section {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000; /* برای اینکه همیشه روی بقیه المان‌ها باشد */
        background-color: #ffffff; /* رنگ پس‌زمینه را بسته به نیاز تغییر دهید */
        box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* سایه نرم برای جدا شدن از صفحه */
        transition: all 0.3s;
    }

    /* جلوگیری از پنهان شدن محتوای صفحه زیر هدر ثابت */
    body {
        padding-top: 80px; /* این مقدار باید برابر با ارتفاع هدر شما باشد */
    }
}


.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
  color: #000000;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
}

.custom_nav-container .navbar-nav .nav-item .nav-link svg {
  width: 17px;
  height: auto;
  fill: #000000;
  margin-bottom: 2px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #00ACC1;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link svg, .custom_nav-container .navbar-nav .nav-item.active .nav-link svg {
  fill: #00ACC1;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00ACC1;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {

  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 90px 0 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h1 {
    font-family: VazirBold, sans-serif;
    font-size: 32px;
    font-weight: 900;
    /*margin-bottom: 2px;*/
    color: #002c3e;
    line-height: 70px;
    justify-content: center;
}

.slider_section .detail-box h1 span {
   color: #002c3e;
    justify-content: center;
}

.slider_section .detail-box p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 12px 45px;
    background-color: #00ACC1;
    border: 1px solid #00ACC1;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #00ACC1;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00ACC1 ;
}

.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}

.product_section .heading_container {
  margin-bottom: 20px;
}

.product_section .box {
    position: relative;
    margin-top: 25px;
    padding: 35px 35px;
    background-color: #f7f8f9;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,.2);
    border: solid #fff 10px;
    min-height: 365px;
    max-height: 365px;
}

.product_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
}

.product_section .box .img-box img {
  max-width: 100%;
  max-height: 250px;
    height: 170px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .detail-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_section .box .detail-box h5 {
  font-size: 18px;
  margin-top: 10px;
}

.product_section .box .detail-box h6 {
  margin-top: 10px;
  color: #002c3e;
  font-weight: 600;
}

.product_section .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product_section .box:hover .option_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*.arrival_section {*/
/*    background-color: #d4ced0;*/
/*}*/
.product_section .option_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.product_section .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_section .options a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 30px;
  width: 165px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 5px 0;
}

.product_section .options .option1 {
  background-color: #00ACC1;
  border: 1px solid #00ACC1;
  color: #ffffff;
}

.product_section .options .option1:hover {
  background-color: transparent;
  color: #202548F9;
    font-weight: 900;
}

.product_section .options .option2 {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

.product_section .options .option2:hover {
  background-color: transparent;
  color: #000000;
}

.product_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn-box a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #00ACC1;
  border: 1px solid #00ACC1;
  color: #ffffff;
  border-radius: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 600;
  width: 100%;
  max-width: 200px;
}

.product_section .btn-box a:hover {
  background-color: transparent;
  color: #00ACC1;
}

.arrival_section .heading_container {
  color: #002c3e;
  margin-bottom: 10px;
}

/*.arrival_section .box {*/
/*  padding: 120px 45px;*/
/*  position: relative;*/
/*}*/

.arrival_bg_img {
    position: absolute;
    top: -25px;
    left: 250px;
    width: 50%;   /* فقط نصف عرض */
    height: 75%;
    z-index: 1;   /* زیر متن */
}

@media (max-width: 992px) {
    .arrival_bg_img {
  display: none;
    }
}
/*.arrival_section .box {*/
/*    padding: 120px 45px;*/
/*    position: relative;*/
/*    z-index: 2;   !* متن بیاد روی عکس *!*/
/*}*/

/*.arrival_section .arrival_bg_box img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    object-position: center left;*/
/*}*/

.arrival_section a {
  /*display: inline-block;*/
  padding: 10px 25px;
  background-color: #00ACC1;
  border: 1px solid #00ACC1;
  color: #ffffff;
  border-radius: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 600;
  width: 100%;
  max-width: 200px;
}

.arrival_section a:hover {
  background-color: transparent;
  color: #202548F9;
}

.why_section .box {
    text-align: center;
    margin-top: 45px;
    background-color: #002c3e;
    padding: 20px 20px;
    border-radius: 5px;
    color: #ffffff;
}

.detail-box h5 {
    font-size: 21px;
    font-weight: 700;
}

.remove_line_bt h2::after {
    display: none;
}

.why_section .box .img-box {
  margin-bottom: 15px;
}

.why_section .box .img-box svg {
  width: 55px;
  height: auto;
  fill: #ffffff;
}

.subscribe_section {
  text-align: center;
}

.subscribe_section .box {
  background-color: #f1eff3;
  padding: 55px 45px;
}

.subscribe_section .subscribe_form .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #002c3e;
}

.subscribe_section .subscribe_form .heading_container h2 {
  padding: 0 25px;
}

/*.subscribe_section .subscribe_form form {*/
/*  display: -webkit-box;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -webkit-box-orient: vertical;*/
/*  -webkit-box-direction: normal;*/
/*      -ms-flex-direction: column;*/
/*          flex-direction: column;*/
/*  -webkit-box-align: center;*/
/*      -ms-flex-align: center;*/
/*          align-items: center;*/
/*}*/

.subscribe_section .subscribe_form form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 60px;
    outline: none;
    padding: 20px 50px;
    background-color: #ffffff;
    margin-top: 15px;
    text-align: center;
}

.subscribe_section .subscribe_form form input::-webkit-input-placeholder {
  color: #171620;
}

.subscribe_section .subscribe_form form input:-ms-input-placeholder {
  color: #171620;
}

.subscribe_section .subscribe_form form input::-ms-input-placeholder {
  color: #171620;
}

.subscribe_section .subscribe_form form input::placeholder {
  color: #171620;
}

.subscribe_section .subscribe_form form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00ACC1;
  border: 1px solid #00ACC1;
  color: #ffffff;
  border-radius: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 600;
  width: 100%;
  max-width: 285px;
}

.subscribe_section .subscribe_form form button:hover {
  background-color: transparent;
  color: #202548F9;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 20px;
}

.client_section .box .img_container {
    width: auto;
    height: auto;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

.client_section .box .img_container .img-box {
    width: auto;
    height: auto;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    margin-right: -1px;
}

.client_section .box .img_container .img-box .img_box-inner {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.client_section .box .img_container .img-box .img_box-inner img {
  width: 100%;
}

.client_section .box .detail-box {
  margin-top: 25px;
}

.client_section .box .detail-box h5 {
  font-size: 20px;
  font-weight: 600;
}

.client_section .box .detail-box h6 {
  font-size: 15px;
  color: #999998;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  top: 43%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #00ACC1;
  border-radius: 100%;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #212121;
}

.client_section .carousel-control-prev {
  left: 25%;
}

.client_section .carousel-control-next {
  right: 25%;
}

/* footer section*/
.footer_section {
  background-color: #002c3e;
  color: #ffffff;
  padding-top: 70px;
}

.footer_section {
    color: #ffffff;
    text-align: left;
}

.footer_section h4 {
  font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  text-align: left;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
    margin: 10px 0;
    color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #00ACC1;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}

.footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer_section .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #002c3e;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.footer_section .footer_social a:hover {
  color: #00ACC1;
}

.footer_section .map_container {
  width: 100%;
  height: 175px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer_section .map_container .map #googleMap {
  height: 100%;
}

.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.footer_section .footer-info p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */

.heading_container.heading_center h3 {
    position: relative;
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

li.nav-item ul {
    background: #fff;
    border: solid #000 2px;
    border-radius: 0;
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 4px 4px 0px 0 #000;
    width: 190px;
}

li.nav-item ul li {
    float: left;
    width: 100%;
    margin: 6px 0;
}

li.nav-item ul li a {
    color: #212529;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-top: 10px;
    transition: ease all 0.5s;
}

li.nav-item ul li a:hover, li.nav-item ul li a:focus {
    color: #00ACC1;
}

.inner_page_head {
    background: #00ACC1;
    text-align: center;
    color: #fff;
    padding-top: 22px;
    padding-bottom: 16px;
    /*height: 300px;*/
}
.inner_page_head h1 {
font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner_page_head h3 {
    font-size: 42px;
    font-weight: 800;
}
.img-header{
    width: 400px;
    height: 450px;
    position: absolute;
    top: -20px;
    left: 100px;
}


/** footer **/

footer {
    background: #f8f8f8;
    padding: 30px 0 20px;
}

.logo_footer {
    margin-bottom: 30px;
    direction: rtl;
}

.information_f p {
    margin-bottom: 1rem;
    line-height: 25px;
    font-size: 15px;
}

.widget_menu h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.widget_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget_menu ul li {
    float: left;
    width: 100%;
}

.widget_menu ul li a {
    font-size: 15px;
    color: #000;
    margin-bottom: 0;
    float: left;
    width: 100%;
    margin-top: 8px;
}

.field {
    display: flex;
}

.widget_menu {
    float: left;
    width: 100%;
}

div.form_sub .field input[type="email"], div.form_sub .field input[type="email"]:hover, div.form_sub .field input[type="email"]:focus {
    padding: 10px 110px 10px 15px;
    border-radius: 0;
    border: solid #ccc 1px;
    font-size: 14px;
    position: relative;
    box-shadow: none;
    width: 100%;
    height: 48px;
}

.form_sub {
    position: relative;
}

.form_sub input[type="email"] + input[type="submit"] {
    position: absolute;
    right: 0;
    background: #00ACC1;
    color: #fff;
    border: none;
    top: 0px;
    font-size: 14px;
    height: 48px;
    font-weight: 600;
    padding: 0 15px;
}

form input {
    background: #fff;
    border: solid #ccc 1px;
    padding: 15px 15px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}

form textarea {
    background: #fff;
    border: solid #ccc 1px;
    padding: 15px 15px;
    width: 100%;
    min-height: 150px;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}

form input[type="submit"] {
     padding: 10px 25px;
  background-color: #00ACC1;
  border: 1px solid #00ACC1;
  color: #ffffff;
  border-radius: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 600;
  width: 100%;
  max-width: 200px;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
      background-color: transparent;
  color: #202548F9;
}

/** cpy **/

.cpy_ {
    background: #222;
    text-align: center;
    padding: 20px 0;
}

.cpy_ p {
    margin: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.cpy_ p a {
    margin: 0;
    color: #00ACC1;
    font-size: 15px;
    font-weight: 400;

}
@media screen and (min-width: 992px) {
    .button-log {
        padding: 8px 20px;
        margin-right: 230px;
        background-color: #00ACC1;
      border: 1px solid #00ACC1;
      color: #ffffff;
      border-radius: 20px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-transform: uppercase;
    }

}
.btn-close {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5; }
  .btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75; }
  .btn-close:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1; }
  .btn-close:disabled, .btn-close.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.25; }

.btn-close-white {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
  filter: invert(1) grayscale(100%) brightness(200%); }

/*-------------------*/
.single-post{
    padding: 10px;
    direction: rtl;
}
.post-title{
     font-size: 1.4rem;
    /*margin: 2rem 0 1rem;*/
    margin-bottom: 2px;
    /*border-right: 4px solid #457b9d;*/
    color: rgba(71, 80, 145, 0.98);
    padding-right: 10px;
     /*color: rgba(64, 72, 128, 0.98);*/
}
.article-date{
      padding-bottom: 200px;
    color: #9b9797;
    font-size: 14px;
}
.post-meta{
    margin-top: 20px;
}

.article-title {
    font-size: 1.4rem;
    margin: 4rem 0 1rem;
    border-right: 4px solid #457b9d;
    padding-right: 10px;
     color: rgba(64, 72, 128, 0.98);
}


.article-info{
    margin-top: 40px;
}
.article-info strong{
     font-size: 18px;
    color: #2a2a2a;;
     /*margin: 4rem 0 1rem;*/
    /*font-weight: 900;*/
    text-align: justify;

}
.article-info ul li,
.article-info p
{
     font-size: 18px;
    color: #2a2a2a;;
    margin: 10px 25px 15px 0;
    /*font-weight: 900;*/
    text-align: justify;
    list-style: disc;
}

/* باکس دکمه مشاوره */
.article-banner, .sidebar-widget.about {
    background-color: #f1f1f1;
    border-radius: 12px;
    padding: 1.5rem;
    margin-top: 5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}



/* واکنش‌گرایی */
@media screen and (max-width: 768px) {
    .article-banner .col-md-6 {
        text-align: center;
    }
    .article-banner img {
        max-width: 90%;
        margin-bottom: 1rem;
    }
    .sidebar-widget.about {
        margin-top: 2rem;
    }
}

.entry-content p{
    font-size: 18px;
    color: #2a2a2a;;
    margin: 10px 0 15px 0;
    /*font-weight: 900;*/
    text-align: justify;
}
.article-banner{
   /*background-color: #efedea;*/
    border-radius: 5px;
    /*border: 1px solid #9b9797;*/
    min-height: 180px;
    margin: 20px 0 20px 0;
    /*padding: 20px 0 20px 100px;*/
}
.article-banner p {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 700;
}


.media-body h5 {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 700;
}

.widget-title{
     font-size: 1.4rem;
    margin: 4rem 0 3rem;
    border-right: 4px solid #457b9d;
    padding-right: 10px;
     color: rgba(64, 72, 128, 0.98);
    font-weight: 900;
    /*padding-bottom: 20px;*/
}


.sidebar-widget p{
    /*background: #f8f9fa;*/
    padding: 10px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700;
}
/*** Project Start ***/

.project-img {
    position: relative;
    padding: 15px;
}

.project-img::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background: var(--bs-secondary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-img::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--bs-primary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.project-content a {
    display: inline-block;
    padding: 20px 25px;
    background: var(--bs-primary);
    border-radius: 10px;
}

.project-item:hover .project-content {
    opacity: 1;
    transition: .5s;
}

.project-item:hover .project-img::before,
.project-item:hover .project-img::after {
    opacity: 0;
}

/*** Project End ***/

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.icon-box-about {
 width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #00ACC1;
  color: #00C2C8;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
     margin-bottom: 12px;
}

.first_about{
    direction: rtl;
    text-align: justify;
    /*font-family: 'Vazir';*/
}
.first_about h5{
    color: #4A148C ;
    font-weight: 900;
    text-shadow: 1px 10px 8px #00ACC1;
    font-size: 24px;
      font-family: "VazirBold", 'sans-serif';
     text-align: center;
}

.first_about h2{
    color: #4A148C ;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 10px 8px #00ACC1;
    font-family: "VazirB1", 'sans-serif';
    text-align: center;
}

.aos-animate{
    direction: rtl;
    text-align: justify;
}
.who-we-are{
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 10px 8px #00ACC1;
    font-family: "VazirB1", 'sans-serif';
    margin: 20px 0;
}
.aos-animate h3 {
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 10px 8px #00ACC1;
    font-family: "VazirB1", 'sans-serif';
    /*margin: 20px 0;*/
}
.profile-name{
      font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 10px 8px #00ACC1;
    font-family: "VazirB1", 'sans-serif';
    margin: 20px 0;
}

.about .about-meta {
  font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 10px 8px #00ACC1;
    font-family: "VazirB1", 'sans-serif';
    margin: 20px 0;
  display: inline-block;
}

.about .about-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

@media (max-width: 992px) {
  .about .about-title {
    font-size: 2rem;
  }
}

.about .about-description {
  margin-bottom: 2rem;
  /*color: color-mix(in srgb, var(--default-color), transparent 20%);*/
}

.about .feature-list-wrapper {
  margin-bottom: 2rem;
}

.about .feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-list-one li{
    font-family: 'VazirBold', sans-serif;
    color: #525050;
    gap: 0.25rem;
  margin-bottom: 0.80rem;

}

.about .feature-list li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
    font-family: 'VazirBold', sans-serif;
    color: #525050;
}

.about .feature-list li i {
  /*color: var(--accent-color);*/
  font-size: 1.25rem;
}

.about .profile .profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.about .profile .profile-name {
  font-size: 1.125rem;
  margin: 0;
}

.about .profile .profile-position {
  /*color: var(--accent-color);*/
  margin: 0;
  font-size: 0.875rem;
}

.about .contact-info {
  padding: 1rem 1.5rem;
  /*background-color: var(--surface-color);*/
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
}

.about .contact-info i {
  /*color: var(--accent-color);*/
  font-size: 1.5rem;
}

.about .contact-info .contact-label {
  /*color: color-mix(in srgb, var(--default-color), transparent 30%);*/
  font-size: 0.875rem;
  margin: 0;
}

.about .contact-info .contact-number {
  font-weight: 600;
  margin: 0;
}

.about .image-wrapper {
  position: relative;
    margin-bottom: 120px;
}

@media (max-width: 992px) {
  .about .image-wrapper {
    padding-left: 0;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 992px) {
  .about .image-wrapper .images {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (max-width: 992px) {
  .about .image-wrapper .main-image {
    margin-left: 0;
  }
}

.about .image-wrapper .small-image {
  position: absolute;
  top: 55%;
  left: 3%;
  width: 100%;
    backdrop-filter: blur(10px);
    backface-visibility: hidden;
  /*border: 8px solid var(--surface-color);*/
}

@media (max-width: 992px) {
  .about .image-wrapper .small-image {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    border: 0;
    top: 55%;
    left: 0;
  }
}

.about .image-wrapper .experience-badge {
  position: absolute;
  bottom: 5%;
  right: 5%;
  /*background-color: var(--accent-color);*/
  /*color: var(--contrast-color);*/
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  min-width: 200px;
  animation: experience-float 3s ease-in-out infinite;
}

@media (max-width: 992px) {
  .about .image-wrapper .experience-badge {
    position: static;
    width: fit-content;
    margin: 0 auto;
  }
}

.about .image-wrapper .experience-badge h3 {
  /*color: var(--contrast-color);*/
  font-size: 2.5rem;
  margin: 0;
  line-height: 0.5;
}

.about .image-wrapper .experience-badge h3 span {
  font-size: 1rem;
  display: inline-block;
  margin-left: 0.25rem;
}

.about .image-wrapper .experience-badge p {
  margin: 0.5rem 0 0;
  font-size: 0.875rem;
}

@keyframes experience-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
.btn-other-info{
     padding: 10px 25px;
  background-color: #00ACC1;
  border: 1px solid #00ACC1;
  color: #ffffff;
  border-radius: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 600;
  width: 100%;
  max-width: 200px;
    }

.step-card {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 25px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
    text-align: center;
    border: 1px solid #f3ac94;
    min-height: 100px;
}

/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq .section-title {
  padding-bottom: 20px;
}

.faq .faq-container .faq-item {
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  /*border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);*/
  border-radius: 5px;
  overflow: hidden;
}

.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin: 0 ;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
    color: #525050;

}

.faq .faq-container .faq-item h3 .num {
   /*color: #5c2699;*/
  padding-right: 5px;
}

.faq .faq-container .faq-item h3:hover {
   color: #5c2699;
}

.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
  margin-bottom: 0;
  overflow: hidden;
    font-size: 15px;
    direction: rtl;
}

.faq .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 14px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
}

.faq .faq-container .faq-item .faq-toggle:hover {
   color: #5c2699;
}

.faq .faq-container .faq-active {
  background-color: #f2eef5;
  border: 1px solid #e3d6f1;
}

.faq .faq-container .faq-active h3 {
   color: #5c2699;
}

.faq .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
  transform: rotate(90deg);
  color: #5c2699;
}

/*.about {padding-top: 90px;}*/
.about .about_box figure {margin: 0;}
/*.about .about_box figure img {width: 100%;}*/
.about .about_box h3 {
    /*color: #000; font-weight: bold; font-size: 30px; line-height: 35px; */
       font-weight: 600;
    font-size: 21px;
    text-shadow: 1px 10px 8px #975AF8CC;
    font-family: "VazirB1", 'sans-serif';
    text-align: justify; direction: rtl
}
.about .about_box p {color: #000; font-size: 17px; line-height: 23px; padding-top: 10px; text-align: justify; direction: rtl}

.about-bg {
	background-color: #ad2100;
	margin-bottom: 90px;
}

.about-bg .abouttitle h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	padding: 40px 0;
	font-weight: 500;
	text-align: center;
}
.for_box h3{
   font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 10px 8px #975AF8CC;
    font-family: "VazirB1", 'sans-serif';
}

.for_box p{

    font-size: 14px;
    /*text-shadow: 1px 10px 8px #975AF8CC;*/
    font-family: "VazirB1", 'sans-serif';
    text-align: justify;
    direction: rtl;
}

.Currency-bg {
	background-color: #ad2100;
}

.Currency-bg .abouttitle h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	padding: 40px 0;
	font-weight: 500;
	text-align: center;
}

.Request-bg {
	background-color: #ad2100;
}

.Request-bg .abouttitle h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	padding: 40px 0;
	font-weight: 500;
	text-align: center;
}

.Team-bg {
	background-color: #ad2100;
}

.Team-bg .abouttitle h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	padding: 40px 0;
	font-weight: 500;
	text-align: center;
}

.service .service-box {
    padding: 30px 20px;
    box-shadow: #00000040 0px 0px 19px 0px;
    margin-bottom: 30px;
    text-align: center;
}

.service .service-box img{
    height: 71px;
    width: 65px;

}

.service .service-box h3{
   font-weight: 600;
    font-size: 20px;
    /*text-shadow: 1px 10px 8px #00ACC1;*/
    font-family: "VazirB1", 'sans-serif';
    text-align: center;
}
.service .service-box p {
      font-size: 14px;
    /*text-shadow: 1px 10px 8px #975AF8CC;*/
    font-family: "VazirB1", 'sans-serif';
    text-align: center;
    direction: rtl;
}
.choose_bg .white_bg {
    background: #fff;
    padding: 40px 10px;
    /*box-shadow: #ddd 0px 0px 10px 3px;*/
    margin-bottom: 5px;
}

.gray-placeholder::placeholder {
    color: #808080 !important; /* رنگ خاکستری */
    opacity: 1; /* برای نمایش صحیح در فایرفاکس */
}

/* برای مرورگرهای قدیمی مثل اینترنت اکسپلورر */
.gray-placeholder:-ms-input-placeholder {
    color: #808080 !important;
}

/* برای مرورگر Edge قدیم */
.gray-placeholder::-ms-input-placeholder {
    color: #808080 !important;
}
/*========================================*/
.chargeCircleText{
          background: rgb(12, 6, 6);
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: rgb(239, 237, 234);
  height: 1.8em;
  width: 1.8em;
  display: inline-block;
  font-size: 11px;
  line-height: 1.9em;
  text-align: center;
}