@font-face {
    font-family: VazirB2;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}


@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/Vazir-Thin.woff') format('woff'),
    url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: VazirB1;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Light.woff2') format('woff2'),
    url('../fonts/Vazir-Light.woff') format('woff'),
    url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: VazirB3;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: VazirB4;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Black.woff2') format('woff2'),
    url('../fonts/Vazir-Black.woff') format('woff'),
    url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: VazirBold;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}
body {
    font-family: 'Vazir', tahoma, sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Vazir', sans-serif;
}
* {
  font-family: 'Vazir', sans-serif;
}
.body{
	margin: 0;
	padding: 0;
}

#grad1 {
  height: 60px;
  background-image: linear-gradient(#73acf8, #ffffff);
	margin: 0;
	padding: 0;
}

.logo-style{
  width: 300px;

}

.login_style{
	display: flex;
	justify-content: center;
	/*align-items: end;*/
	min-height: 400px;
}

.login_style a{
   color: #055160;
    text-decoration: none;

}

@media only screen and (max-width: 600px) {
	.login_style{
		  min-height: 300px;
		}
}

.header-style{
	font-family: VazirBold, sans-serif;
	font-weight: 900;
	font-size: 13px;
	color: #0f1531;
	margin: 10px;
	text-shadow: 1px 5px 6px #525050;

}

.info-text{
	max-height: 300px;
	text-align: justify;
}

.copyright_style{
	color: #0d6efd;
}
.header-style{
	font-family: VazirBold, sans-serif;
	font-weight: 900;
	font-size: 24px;
	color: #202548F9;
	margin: 5px 5px;
	text-shadow: 1px 5px 6px #525050;

}
.site-text{
  display: flex;
    align-items: center;
}
/*===============================================*/
.counter-badge {
    position: relative;
    top: -8px;
    right: -25px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}

.counter-badge_second{
    position: relative;
    top: -8px;
    /*right: -1px;*/
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}
/*-----------------------------------------*/
.no-charge-card {
    background-color: #f8f9fa;
    border: 1px dashed #ced4da;
    border-radius: 10px;
    height: 381px;
    /*transition: transform 0.3s ease, box-shadow 0.3s ease;*/

}
/*.no-charge-card:hover {*/
/*    transform: translateY(-5px);*/
/*    box-shadow: 0 8px 20px rgba(0,0,0,0.1);*/
/*}*/

.icon-container {
    font-size: 3rem;
    color: #ffc107;
    animation: bounce 1.5s infinite;
}

/*@keyframes bounce {*/
/*    0%, 100% { transform: translateY(0); }*/
/*    50% { transform: translateY(-10px); }*/
/*}*/

.no-charge-card img {
    max-width: 600px;
    margin: 50px auto;
    display: block;
}
.card {
    position: relative;
}
.profile-image-user,
.profile-image,
.profile-image-password {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 180px;
    width: auto;
    height: auto;
    border-radius: 10px;
    opacity: 0.9;
}
@media (max-width: 768px) {

    .profile-image-user,
    .profile-image,
    .profile-image-password {
        position: static;        /* مهم‌ترین خط */
        display: block;
        max-width: 120px;
        margin: 15px auto 0;
        opacity: 1;
    }

}
.password-field {
    position: relative;
}

.password-field input {
    padding-left: 40px;
}

.toggle-password {
    position: absolute;
    right: 200px;   /* برای RTL */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.toggle-password:hover {
    color: #000;
}
.sticky-summary {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #fff3cd !important;
}