{% load static %}
{% load poll_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>خرید اشتراک</title>
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/static/css/login_style.css">
    <link rel="stylesheet" href="/static/css/core.css">
    <link rel="stylesheet" href="/static/admin_panel/css/custom_style.css">
    
</head>
<body>
<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <div class="card shadow border-0">

                <div class="card-body text-center p-5">

                    <div class="mb-4">
                        <i class="mdi mdi-check-circle text-success" style="font-size:80px;"></i>
                    </div>

                    <h3 class="text-success fw-bold mb-3">
                        این شارژ قبلاً پرداخت شده است
                    </h3>

                    <p class="text-muted mb-4">
                        اطلاعات این پرداخت در سیستم ثبت شده و نیازی به پرداخت مجدد نیست.
                    </p>

                    <hr>

                    <div class="row text-end mt-4">

                        <div class="col-md-6 mb-3">
                            <strong>عنوان شارژ</strong>
                            <div>{{ charge.title }}</div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <strong>مبلغ</strong>
                            <div>
                                {{ charge.total_charge_month|three_digit_currency }}
                                تومان
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <strong>واحد</strong>
                            <div>{{ charge.unit }}</div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <strong>ساختمان</strong>
                            <div>{{ charge.house.name }}</div>
                        </div>

                        {% if charge.payment_date %}
                        <div class="col-md-6 mb-3">
                            <strong>تاریخ پرداخت</strong>
                            <div>{{ charge.payment_date }}</div>
                        </div>
                        {% endif %}

                        {% if charge.transaction_reference %}
                        <div class="col-md-6 mb-3">
                            <strong>شماره پیگیری</strong>
                            <div>{{ charge.transaction_reference }}</div>
                        </div>
                        {% endif %}

                        {% if charge.payment_gateway %}
                        <div class="col-md-6 mb-3">
                            <strong>روش پرداخت</strong>
                            <div>{{ charge.payment_gateway }}</div>
                        </div>
                        {% endif %}

                    </div>

                    <hr>

                    <div class="mt-4">

                        <a href="{{ charge.house.get_subdomain_url }}"
                           class="btn btn-primary px-4">
                            بازگشت به سایت مجتمع
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<!-- ✅ JS -->

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>#}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/Bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/sweetalert2@11.js"></script>
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/custom.js"></script>



</body>
</html>
