{% extends 'partials/core_template.html' %}
{% load poll_extras %}

{% block page_title %}
مدیریت اطلاعیه {{ unit.unit }}
{% endblock page_title %}

{% block main_content %}
{#    <hr>#}
    
  <div class="container py-5">
{#  <div class="card shadow-lg p-4">#}
{#    <h1 class="header-style text-center mb-4">اطلاعیه‌های ساختمان</h1>#}
  <div class="row mb-2 mt-4">
        <!-- بخش جستجو -->
        <div class="col-12 col-md-10 col-xl-10 align-self-center">
            <form method="get" action="" class="d-flex gap-2 align-items-center">
                <input type="text"
                       class="p-2 w-50 w-md-75"
                       name="q"
                       id="searchInput"
                       autocomplete="off"
                       value="{{ query }}"
                       placeholder="جستجوی ..."
                       dir="rtl"
                       oninput="if(this.value === '') this.form.submit();">
                <button type="submit" class="btn btn-info px-3 py-2">جستجو</button>
            </form>
        </div>

        <!-- بخش تعداد نمایش → فقط دسکتاپ -->
        <div class="col-12 col-md-2 col-xl-2 p-0 d-none d-md-block">
            <div class="d-flex align-items-center gap-1">
                <label for="cardsPerPage" class="form-label mb-0">تعداد نمایش:</label>
           <select id="cardsPerPage" 
        class="form-select select-fix"
        style="width: auto;"
        onchange="window.location.href='?q={{ query }}&paginate=' + this.value;">
    <option value="20" {% if request.GET.paginate|default:'20' == '20' %}selected{% endif %}>20</option>
    <option value="50" {% if request.GET.paginate == '50' %}selected{% endif %}>50</option>
    <option value="100" {% if request.GET.paginate == '100' %}selected{% endif %}>100</option>
    <option value="1000" {% if request.GET.paginate == '1000' %}selected{% endif %}>همه</option>
</select>

            </div>
        </div>
    </div>
  <table class="table table-bordered mt-2">
      <thead>
      <tr>
          <th>عنوان</th>
          <th>تاریخ ثبت</th>
      </tr>
      </thead>
         {% if announcements %}
      {% for announcement in announcements %}
      <tbody>
      <tr>
          <td class="col-10 p-0 m-0">
              {{ announcement.title|safe|to_persian_number }}
                  
          </td>
          <td class="col-2">{{ announcement.created_at|show_jalali_date_only }}</td>
      </tr>
      </tbody>
           {% endfor %}
    {% else %}
           <tbody>
           <tr>
            <td colspan="2">
                    هیچ اطلاعیه‌ای ثبت نشده است.
        </td> 
           </tr>
 
           </tbody>
    {% endif %}
  </table>
       <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            {% if page_obj.has_previous %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_obj.previous_page_number }}" class="rounded mx-1">قبلی</a>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_number }}"
                   class="rounded mx-1 {% if page_number == page_obj.number %}active{% endif %}">
                    {{ page_number }}
                </a>
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_obj.next_page_number }}" class="rounded mx-1">بعدی</a>
            {% endif %}
        </div>
    </div>
  </div>

    
    
{% endblock main_content %}